<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
	android:orientation="vertical"
	android:layout_width="match_parent"
	android:layout_height="match_parent" >

	<TextView
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:text="Legend Scale:"
		android:textAppearance="?android:textAppearanceLarge"
		android:textColor="#4689C8"
		android:layout_marginLeft="30dp"
		android:paddingVertical="20dp"
		android:layout_marginBottom="20dp"/>

	<ScrollView
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_marginBottom = "60dp">

		<LinearLayout
			android:orientation="vertical"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" >

			<LinearLayout
				android:id="@+id/cli_chk_qtn_linear"
				android:orientation="vertical"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:gravity="center" >

				<android.support.v7.widget.RecyclerView
					android:id="@+id/cli_chk_qtn_recyclerView"
					android:scrollbars="vertical"
					android:layout_width="match_parent"
					android:layout_height="wrap_content" />

			</LinearLayout>

			<Button
				android:id="@+id/btn_cli_qtn_submit"
				android:text="SUBMIT"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:paddingTop="20dp"
				android:paddingBottom="20dp"
				android:textSize="20dp"
				android:layout_margin="30dp"
				android:textColor="@android:color/white"
				android:background="@color/primary_dark" />

		</LinearLayout>
	</ScrollView>

</LinearLayout>
